.landing-page {
    height: 100%;
}

.landing-page .logo-container {
    height: 65%;
    background-color: var(--color-primary-lighter);
    border-bottom: var(--color-secondary) 20px solid;

    display: block;
    text-align: center;    
}

.landing-page .logo-container img {
    margin-top: 23vh;

    width: 80%;
    max-width: 750px;
    -webkit-filter: drop-shadow(-0.3rem 0.3rem 0.2rem rgba(0,0,0,0.5));

}

.landing-page .logo-container h2 {
    color: var(--color-text-in-green);
    text-shadow: rgba(0, 0, 0, 0.6) -0.1rem 0.1rem 0.1rem ;

    font-weight: 300;
    font-size: 1.7rem;

    margin-top: 0.2rem;
}

.landing-page .btn-container {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 0;
}

.landing-page .btn-container .btn-action {
    margin: 5px 3%;
    width: 70%;
    max-width: 350px;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;


    border: none;
    border-radius: 7px;
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    color: var(--color-text-in-green);

    box-shadow: rgba(0, 0, 0, 0.6) -0.2rem 0.2rem 0.1rem ;
    text-shadow: rgba(0, 0, 0, 0.6) -0.2rem 0.2rem 0.1rem ;
}


.landing-page .btn-container #student {
    background-color: var(--color-secondary);
}

.landing-page .btn-container #student-icon, #school-icon{
    font-size: 3.5rem;
    margin-right: 2rem;
    -webkit-filter: drop-shadow(-0.2rem 0.2rem 0.1rem rgba(0,0,0,0.5));    
}

.landing-page .btn-container #school {
    background-color: var(--color-primary);
}